.stick {
    display: flex;
	background-color: darkslategrey;
	top: 0;
    opacity: 1;
    z-index: 500;
}
.stick a {
    display: flex;
    padding: 5px;
    text-align: center;
    align-items: center;
  
}

.header {
    display: flexbox;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    margin: auto;
    height: 50%;
    }

.jumbotron h1 {
    font-size: 100px;
    color: #fc6c85;
    align-items: center;
    text-align: center;
}

a {
    color: darkpink !important;
    font-weight: bold;
}

p {
    font-size: 12px;
}

#img {
    border-radius: 15%;
    padding-bottom: 10px;
}

.titles {
    padding-bottom: 10px;
}
#aboutmecontent {
    padding-bottom: 20px;
}
#adventurescontent {
    padding-bottom: 20px;
    text-align: center;
}

#likescontent {
    padding-bottom: 20px;
    text-align: center;
}

#albumcontent {
    padding-bottom: 20px;
    text-align: center;
}
footer{
    background-color: #466d1d;
}