.header {
    display: flexbox;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    margin: auto;
    height: 50%;
    }

.jumbotron h1 {
    font-size: 100px;
    color: pink;
}

a {
    padding: 0 5px 0 0;
}
.navbar {
    background-color: #343a40;
    font-weight: bold;
}

#img {
    border-radius: 20%;
}