#top {
    scroll-behavior: smooth;
}
.sticky {
    display: flex;
	background-color: darkslategrey;
	position: -webkit-sticky;
	top: 0;
    opacity: 1;
    z-index: 500;
}
.sticky a {
    display: flex;
    padding: 5px;
    text-align: center;
    align-items: center;
  
}

.header {
    display: flexbox;
    align-items: center;
    text-align: center;
    background-position: center;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    margin: auto;
    height: 50%;
    }

.jumbotron h1 {
    font-size: 100px;
    color: #fc6c85;
    align-items: center;
    text-align: center;
}

.titles {
    scroll-margin-top: 1em;
}

a {
    color: darkpink !important;
    font-weight: bold;
}

#img {
    border-radius: 15%;
}